*{
    margin: 0;
    padding: 0;
}
.container{
    height: 800px;
    width: 800px;
    border: 1px solid;

    margin: 0 auto;
    margin-top: 30px;

    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);

}

.box:nth-child(9n){
    order: 1;
}

.box:nth-child(odd){
    background-color: black;
}
.box:nth-child(even){
    background-color: white;
}


