.container{
    height: 100vh;
    background-color: #000000;

    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 100px 1fr 100px;
    gap: 10px;

    margin: 10px;
    padding: 10px;
    border-radius: 10px;

    grid-template-areas: 
    "a a"
    "b  c"
    "no c"
    "d  d"
    ;
}
/* .box{
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* __________________________________________________ NEW DIV __________________________________________________________________________________ */
.new{
    background-color: pink;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 130px);
    gap: 10px;



    grid-template-areas: 
    "no  no  no  no"
    "on  on  tw  th"
    "fo  ei  tw  se"
    "fi  fi  ni  se"
    "si  si  si  te";

}
.b{
    display: flex;
    justify-content: center;
    align-items: center;
}


#one{
    background-image: linear-gradient(
        to right,
        dodgerblue,
        rgb(73, 143, 213),
        #c7517c,
        #ed6ea0);
        
    grid-area: a;
}
#two{
    background-image: linear-gradient(
        to right,
        dodgerblue,
        rgb(73, 143, 213),
        #c7517c,
        #ed6ea0);    


        
        grid-area: b;
}
#three{
    background-image: linear-gradient(
        to right,
        dodgerblue,
        rgb(73, 143, 213),
        #c7517c,
        #ed6ea0);  

        grid-area: c;

        /* margin: 10px; */

        /* padding: 10px;   */
}
#four{
    background-image: linear-gradient(
        to right,
        dodgerblue,
        rgb(73, 143, 213),
        #c7517c,
        #ed6ea0);
        
    grid-area: d;
}

/* __________________________________________________ NEW DIV ENDS __________________________________________________________________________________ */

#on{
    background-color: #c1daf7;
    grid-area: on;
}
#tw{
    background-color: #c1daf7;
    grid-area: tw;
}
#th{
    background-color: #c1daf7;
    grid-area: th;
}
#fo{
    background-color: #c1daf7;
    grid-area: fo;
}
#fi{
    background-color: #c1daf7;
    grid-area: fi;
}
#si{
    background-color: #c1daf7;
    grid-area: si;
}
#se{
    background-color: #c1daf7;
    grid-area: se;
}
#ei{
    background-color: #c1daf7;
    grid-area: ei;
}
#ni{
    background-color: #c1daf7;
    grid-area: ni;
}
#te{
    background-color: #c1daf7;
    grid-area: te;
}
